.ham-btn {
  /* position: absolute; */
  position: fixed;
  background-color: inherit;
  cursor: pointer;
  z-index: 200;
}
.peke {
  background-position: 35px 0;
}
.drawr {
  display: none;
  background-color: rgba(0,0,0,0.6);
  /* position: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  padding: 60px 0 20px 0;
  z-index: 100;
}
.hum-close-button{
  display: none;
  color: white;
  /* top: 1em;
  left: 1em; */
}
#menu,
#menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#menu li {
  width: 260px;
}
#menu li a {
  color: #fff;
  display: block;
  padding: 15px;
}
