body
{
    width: 100%;

}

div.obj
{
    position : relative;
    height : 300px;
    width : 110px;
    top : 4em;
    margin-bottom : 15px;
}

div.book
{
    position : relative;
    left : -1em;
    height : 250px;
    width : 90px;
    background-color : #ffffaf;
    bottom:0;
    text-align : center;
    border-bottom-color : #000;
}

div.shadow
{
    position : relative;
    top : 50em;
    height : 4px;
    width : 150px;
    background-color : #000000;
    opacity : 0.55;
}

div.booktitle_space
{
    position : relative;
    top : 1em;
}

body span.booktitle
{

    text-align : justify;
    writing-mode : vertical-rl ;
    -webkit-writing-mode : vertical-rl ; 
    font-size : 1.5em;
    color : #000;
}

div.userback
{
    position :relative;
    top : 0.1em;
    left : -2em;
    height : 3em;
    width : 120px;
    background-color : #34578e;
}

body span.bookuserID
{
        position : relative;
        top : 10px;
        left : 1.5em;
        background-color : #fff1ff;
        padding : 0.3em 0.7em 0.3em 0.7em;
        border-radius : 1em;
}


/*
            <div class="col-xs-3 obj">
                <div class="col-xs-12">
                    <div class="book">
                        <span class="booktitle">test</span>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="bookuserID">
                        <span class="bookuserID glyphicon glyphicon-bookmark bookuserID">userID</span>
                    </div>
                </div>     
            </div>


*/